---
import { cn } from '../utils/cn';

const buttonStyles =
  'sm:inline-block text-center w-full block font-semibold relative py-2 px-5 uppercase border-2 border-black cursor-pointer transition-shadow duration-300 ease-in-out shadow-[5px_5px_0_0_black] text-sm lg:text-base';
const primaryStyles = 'bg-sky-400 text-black';
const secondaryStyles = 'bg-white text-black';
const hoverEffect = 'hover:shadow-none';

const {
  href = '#',
  external = false,
  title = 'Default Button',
  type = 'primary',
} = Astro.props;
---

<a
  href={href}
  target={external ? '_blank' : '_self'}
  class={cn(
    buttonStyles,
    type === 'primary' ? primaryStyles : secondaryStyles,
    hoverEffect
  )}
>
  {title}
</a>
