---
import '@fontsource/montserrat';
import { fetchApi } from '../lib/strapi';
import { mainMenuQuery } from '../queries';
import { getStrapiURL } from '../utils/getStrapi';
import Head from './Head.astro';
import NavBar from '../components/NavBar.astro';
import Navbar from '../components/navbar/navbar.astro';
const { title, description } = Astro.props;

async function fetchData() {
  const path = '/api/global';
  const baseUrl = getStrapiURL();
  const query = mainMenuQuery;

  const url = new URL(path, baseUrl);
  url.search = query;

  const strapiData = await fetchApi(url.href);
  return strapiData;
}

const data = await fetchData();
---

<!doctype html>
<html lang='en'>
  <Head {title} {description} />
  <body>
    <Navbar topnav={data.topnav} />
    <slot />
  </body>
</html>
