---
import About from '../components/About.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Astro.'>
  <main>
    <h1 class='text-7xl font-heading font-semibold'>
      Welcome to <span class='text-sky-500'>Astro</span>
    </h1>
    <Hero />
    <About />
  </main>
</Layout>
